<ion-header>
  <ion-toolbar>
    <ion-title>Mojix Music App</ion-title>
    <ion-item lines="none" slot="end">
      <ion-label>Music/Movie</ion-label>
      <ion-toggle slot="start" name="musicMovie" (ionChange)="changeToogle($event.detail)">
      </ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar #searchBar [(ngModel)]="filterTerm" ></ion-searchbar>

  <ion-card>
    <ion-card-content style="padding: inherit;">
      <ion-list>
        <ion-item lines="none" wrap *ngFor="let el of filteredElements$ | async; let i = index">
          <app-song [currentSong]="el" [position]="i" class="fullWidth"></app-song>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer>
</ion-footer>